{{define "layout"}}<!DOCTYPE html>
<html lang="en" class="theme-{{.Base.Theme}}">
{{template "head" .}}
<body>
<a href="#main-content" class="skip-link">Skip to main content</a>
{{template "header" .}}
{{template "nav" .}}
<main id="main-content" class="container" tabindex="-1">
{{template "content" .}}
</main>
{{template "footer" .}}
{{template "cookie-consent" .}}
{{template "consent-preferences-dialog" .}}
{{template "toast-container" .}}
{{template "scripts" .}}
</body>
</html>
{{end}}
